
.instructionModal {
    // height: 100vh;
    height: 113vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    transition: 800ms;
    // margin-top: -53rem;
    margin-top: -100vh;


}

.instructions {
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 100vw;
    margin-top: 5rem;
    margin-left: 0rem;
}

.instructions div {
    border: solid 1px;
    color: aliceblue;
    border-color: aliceblue;
    border-radius: 20px;
    background-color:  rgba(0,0,0,0.7);
    margin: 100px;
    width: 39vw;

}

p {
    margin: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}