.main-nav {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 5vh;
    width: 100vw;
    position: fixed;
  
    > div {
      // color: aliceblue;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 5%;
    }
}

a {
    height: 50%;
    width: 100%;
  
}
  
i {
    color: aliceblue;
//   background-color: aliceblue;
    font-size: 30px;
    height: 100%;
    width: 5%;
    transition: 300ms;
}

i:hover {
    scale: 1.25;
    color: rgb(188, 224, 255);
}

   
  
    