#current {
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    margin-left: 4%;
    margin-top: 4%;
}
  
.title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.title {
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 50px 0px 20px 0px;
    font-size: 50px;  
}

.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    height: 20px;
}

p {
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 50px;
    font-size: 20px; 
}


.country-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.country {
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 50px;
    font-size: 20px;
}