html, body {
  margin: 0;
  padding: 0;
  /* background: rgb(63, 49, 49); */
  background-image: url('https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
}


.globe {
  cursor: move;
}

#current {
  position: absolute;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  margin-left: 4%;
  margin-top: 4%;
}

h1 {
  color: aliceblue;
}

h2 {
  color: aliceblue;
}